#Form-alone{
    margin-top: 0px;
}
PhoneInput {
    margin-top: 20px;
}
.react-tel-input{
   margin-top: 20px;
}
.react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;
    line-height: 25px;
    height: 35px;
    width: 440px;
    outline: none;
}
form h2{
    font-weight: 600;
}
form{
    border-radius: 10px;
    background-color: #fff;
}
form .btn{
    background-color: #11526e;
    color: white;
    border-radius: 7px;
}
form .btn:hover{
    background-color: #0a2f3d;
    transition: .7s;
}
@media(max-width:768px){
    .lname{
        margin-top: 1.5rem;
    }
}
@media(max-width:576px){
    #Form-alone {
        width: 90%;
        margin: 10px auto;
        padding: 0px;
    }
    #Form-alone .container{
        padding: 0px;
    }
    #Form-alone .col-md-6{
        padding: 0px;
    }
}