
#engagement .media .icon-modal{
    color: #11526e;
    background-color: antiquewhite;
   font-size: 35px;
   background-color: #11526e00;
   margin-right: 20px;
}
.counts{
    font-size: 40px;
    width: 40px;
    color: var(--primaryblue);
    font-weight: 600;
    text-align: center;
}
.arrow{
    position: absolute;

    width: 20%;
    transform: rotate(90deg);
    margin-left: -15px;
    margin-top: 40px;
}
#engagement #one{
    background-color: #b5d2ff;
    padding: 20px;  
    margin-top: 10px; 
}
#engagement #two{
    background-color: #ffeabf;
    padding: 20px; 
    margin-top: 10px; 
}
#engagement #three{
    background-color: #ecffdd;
    padding: 20px;   
    margin-top: 10px;
}

#engagement .media {
    display: flex;
    gap: 20px;
    border: none;
    margin: 0px;
    height: 300px;
    padding: 0px;
    background-color: #11526e00;
    text-align: start;
}
#engagement .media p{
    font-size: 14px;
    font-weight: 300;
}

@media(max-width:992px){
    #engagement .second{
        margin-top: 50px;
    }
}
@media(max-width:576px){
    #engagement .media {
        max-height: 140px;
    }
    #engagement .media .icon-modal {
        margin-right: 0px;
    }
}