
.media{
    margin-top: 40px;
    text-align: start;
    padding: 20px;
    background-color: #fff;
   border: 1px solid #eee;
    border-radius: 10px;
    height:170px;
}
.media:hover{
    .main-img{
        background-color: var(--secondarygreen);
        transition: .7s;
    }
    transition: .7s;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(167, 167, 167);
    
}
.media .main-img  {
   
   background-color: #f5f9f6;
   border-radius: 50%;
   padding: 15px;
   width: 80px;
   height: 80px;
   margin-right: 10px;
}
.media .main-img img{
    width: 100%;
}
.media h5{
    font-size: 18px;
    color: #000;
}
.media p{
    color: #000;
}
.media .media-body{
    margin-left: 10px;
}

@media(max-width:576px){
   .media{
    height:160px;
   }
}